body, html {
    margin: 0;
    height: 100%;
}

.checkHidden {
    display: none;
}

.ui-timepicker-container {
    z-index: 1060 !important;

}
.ui-widget-content {
    background: whitesmoke !important;
}

.note-area-size{
    width: 300px;
}
